/* .MeetupTiming_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
}

.MeetupTiming_image {
    width: 80vw;
    margin-bottom: 20px;
}

.MeetupTiming_image_img {
    height: 50vh;
    width: 100%;
}

.MeetupTiming_text {
    color: #fff;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
    margin-bottom: 20px;
} */


.modal-close button {

}

.MeetupTiming_wrapper {
    display: flex;

    align-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #EBEBE1;
}

.MeetupTiming_headerText {
    padding-top: 20px;
}

.MeetupTiming_image {
    display: flex;
    font-size: 52px;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;
    background-color: #82D7E1;
}

.MeetupTiming_image_img {
    height: 20vh;
    width: 30vw;
    margin-bottom: 25px;
}

.MeetupTiming_text {
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
    background-color: #EBEBE1;
    width: 100vw;
}

.MeetupTiming_table {
    padding: 1px;
}

.MeetupTiming_table th {
    border: 1px double #000;
            text-align: center; /* Горизонтальное центрирование */
            vertical-align: middle; /* Вертикальное центрирование */
            height: 50px;
            /* padding: 20px; */
}

.MeetupTiming_table td {
    border: 1px double #000;
    text-align: center; /* Горизонтальное центрирование */
    vertical-align: middle; /* Вертикальное центрирование */
    height: 50px;
    padding: 1px;
}



/* 
.MeetupTiming-button {
    margin-bottom: 20px;
    margin-top: 20px;
} */

.sticky-button {
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    transition: position 0.3s, bottom 0.3s;
}

/* Стили для обычного положения кнопки */
.normal-button {
    position: static;
    transform: none;
    margin-top: 20px;
}

/* Отступ внизу страницы */
.bottom-spacer {
    height: 80px; /* Достаточный отступ для кнопки */
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.search-input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    border-radius: 30px;
    border-color: #ed1c29;;
    height: 5vh;
    width: 42vh;
}

.search-input-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-button {
    padding: 10px 20px;
}
.scroll-to-top {
    position: fixed;
    bottom: 50vh;
    right: calc(4.5% - 20px); /* Позиционируем по центру экрана по вертикали и смещаем вправо */
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10; /* Поверх других элементов */
}

.scroll-to-top.show {
    opacity: 1;
    visibility: visible;
    background-color: #82D7E1;
    border-radius: 25px;
    padding: 2px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    opacity: .7;
    
}

.scroll-to-top img {
    width: 45px; /* Небольшой размер стрелки */
    height: auto;
    opacity: .7;
}

.highlighted {
    background-color: #82D7E1;
    scale: 1.1;
    transition: scale 1s ease, background-color 1s ease;
}

tbody tr {
    transition: scale 1s ease, background-color 1s ease;
}


.MeetupTiming_text button,
table {
    margin-bottom: 20px;
}

.slider {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.slider button {
    background-color: #82D7E1;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 10px;
    border-radius: 25px;
}


.slider span {
    font-size: 18px;
    font-weight: bold;
}

.slider button svg {
    margin: 0 5px;
}


.departure-note {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* MeetupTiming.css */

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 0.7s forwards; /* Анимация fadeIn для отображения */
}

.modal-overlay.fadeOut {
    animation-name: fadeOut; /* Заменяем на анимацию fadeOut для скрытия */
    animation-duration: 0.7s; /* Длительность анимации */
    animation-fill-mode: forwards; /* Задерживаем последний кадр анимации */
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.modal-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.modal-content button {
    
    padding: 10px 20px;
    background: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.modal-overlay.active {
    opacity: 1; /* Fully visible */
    pointer-events: auto; /* Enable interactions */
  }
  
  .modal-content.active {
    opacity: 1;
    transform: translateY(0); /* Slide down into view */
  }

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-image-img {
    width: 70vw;
}

.modal-content {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
}

.modal-text {
    width: 80vw;
    line-height: 1.5;
    text-align: center;
    text-justify: distribute
    
}

.modal-close {
    margin-top: 10px;
}

.modal-close button {
    width: 70vw;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
}

.sticky-button {
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    transition: position 0.3s, bottom 0.3s;
}

/* Стили для обычного положения кнопки */
.normal-button {
    position: static;
    transform: none;
    margin-top: 20px;
}

/* Отступ внизу страницы */
.bottom-spacer {
    height: 80px; /* Достаточный отступ для кнопки */
}