.GalaDinner_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
}

.GalaDinner_image {
    display: flex;
    justify-content: center;
    width: 80vw;
    margin-bottom: 15px;
}

.GalaDinner_image_img {
    height: 20vh;
    width: 100%;
}

.GalaDinner_text {
    color: #000;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 22px;
    font-weight: bold;
}

.GalaDinner_categories button {
    margin-top: 20px;
}