.categories_text {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 22px;
    color: #000;
    font-weight: bold;
}

.categories_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    min-height: 100vh;
}

.powered_by {
    font-family: "Montserrat", sans-serif;
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 12px;
}

.powered_by a {
    color: #999;
    text-decoration: none;
}

.powered_by a:hover {
    text-decoration: underline;
}

.categories_button button {
    margin-top: 20px;
}

.categories_image {
    display: flex;
    justify-content: center;
    width: 80vw;
    /* margin-bottom: 15px; */
}

.categories_image_img {
    height: 30vh;
    width: 60%;
}
