* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.App {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 22px;
}

html {
  scroll-behavior: smooth;
}